{
    auto_https off
    admin off
}

:{$PORT:80} {
    root * /app
    encode zstd gzip

    @dynamicSource {
        path_regexp dynamic_source ^/app/(Plugin|View/User/Theme)/.*\.php$
    }
    respond @dynamicSource 404

    handle /assets/* {
        file_server
    }

    handle /favicon.ico {
        file_server
    }

    handle /app/Plugin/* {
        file_server
    }

    handle /app/View/User/Theme/* {
        file_server
    }

    handle / {
        rewrite * /index.php?{query}
        php_server {
            root /app
            file_server off
        }
    }

    handle {
        rewrite * /index.php?s={path}&{query}
        php_server {
            root /app
            file_server off
        }
    }
}
