{
    auto_https off
    admin off
}

:{$PORT:80} {
    root * /app
    encode zstd gzip

    handle /assets/* {
        file_server
    }

    handle /favicon.ico {
        file_server
    }

    handle / {
        rewrite * /index.php?{query}
        php_server {
            root /app
            file_server off
        }
    }

    handle {
        rewrite * /index.php?s={path}&{query}
        php_server {
            root /app
            file_server off
        }
    }
}
